@import 'tailwindcss';

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@theme {
    /* 슬레이트 색상 */
    --color-slate-100: #f1f5f9;
    --color-slate-200: #e2e8f0;
    --color-slate-300: #cbd5e1;
    --color-slate-400: #94a3b8;
    --color-slate-500: #64748b;
    --color-slate-800: #1e293b;
    --color-slate-900: #0f172a;

    /* 바이올렛 색상 */
    --color-violet-100: #ede9fe;
    --color-violet-600: #7c3aed;

    /* 로즈 색상 */
    --color-rose-500: #f43f5e;

    /* 라임 색상 */
    --color-lime-300: #bef264;

    /* 앰버 색상 */
    --color-amber-800: #92400e;

    /* 폰트 크기 커스텀 정의 */
    --fontSize-nm-20: 20px;
    --fontSize-nm-18: 18px;
    --fontSize-nm-16: 16px;

    /* 폰트 웨이트 */
    --fontWeight-regular: 400;
    --fontWeight-bold: 700;
}

@theme button {
    --button-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

@layer utilities {
    .text-nm-20-bold {
        font-size: var(--fontSize-nm-20);
        font-weight: var(--fontWeight-bold);
    }

    .text-nm-18-bold {
        font-size: var(--fontSize-nm-18);
        font-weight: var(--fontWeight-bold);
    }

    .text-nm-16-bold {
        font-size: var(--fontSize-nm-16);
        font-weight: var(--fontWeight-bold);
    }

    .text-nm-16-regular {
        font-size: var(--fontSize-nm-16);
        font-weight: var(--fontWeight-regular);
    }

    .button-shadow {
        box-shadow: var(--button-shadow);
    }
}
